.login {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color: rgb(202, 172, 4);
    text-underline-offset: .2rem;
}
.wrapper{
    text-align: center;
    padding: 2em 0;
}
.wrapper h2 {
    padding: 3em 0 1em;
}
@media (min-width:600px) {
    .login{
        font-size: 1.5rem;
    }
    .wrapper h2 {
        font-size: 1.5rem;
    }
}

@media (min-width:900px) {
    .login{
        font-size: 2rem;
    }
    .wrapper h2 {
        font-size: 2rem;
    }
}